In [1]:
import pandas as pd
import numpy as np

Categorical is a special pandas object, it is for categorical variables where a set of catetories will be set with an optional order argument

In [3]:
col4 = pd.Categorical(['first','second','third'])

In [10]:
df = pd.DataFrame({'col1':[1,2,3],'col2':[0.3,0.4,0.5],'col3':['first','second','third'],'col4':col4,
                   'col5':[1,0.4,'first']})

In [11]:
df

   col1  col2    col3    col4   col5
0     1   0.3   first   first      1
1     2   0.4  second  second    0.4
2     3   0.5   third   third  first

In [12]:
df.dtypes

col1       int64
col2     float64
col3      object
col4    category
col5      object
dtype: object

The *col5* is *object* because it's mixed type and python can not assign a homogenous tye