In [1]:
import pandas as pd
import numpy as np

It is quite common that you have a sparse format matrix, but you want to make it dense

In [13]:
samples = np.array(['sample1','sample2','sample3','sample4','sample5','sample6','sample3'])
mutations = np.array(['mutation1','mutation1','mutation1','mutation2','mutation2','mutation3','mutation3'])
yes = np.array([1,1,1,1,1,1,1])

In [12]:
pd.crosstab(index=mutations,columns=samples,rownames=['mutation'],colnames=['sample'])

sample     sample1  sample2  sample3  sample4  sample5  sample6
mutation
mutation1        1        1        1        0        0        0
mutation2        0        0        0        1        1        0
mutation3        0        0        1        0        0        1