In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'names':['John','Amy','Zhuang','Hao','Gal'],
                  'nationality':['US','US','China','China','Italy']})

In [3]:
df

    names nationality
0    John          US
1     Amy          US
2  Zhuang       China
3     Hao       China
4     Gal       Italy

In [5]:
df.groupby(by='nationality')['names'].apply(lambda x:x.tolist()).to_dict()

{'China': ['Zhuang', 'Hao'], 'Italy': ['Gal'], 'US': ['John', 'Amy']}

## Let's break it down

In [6]:
type(df.groupby(by='nationality'))

pandas.core.groupby.generic.DataFrameGroupBy

DataFrameGroupby object is able to slice like you would do on a normal dataframe, so we slice the "names" column.

In [7]:
type(df.groupby(by='nationality')['names'])

pandas.core.groupby.generic.SeriesGroupBy

Let's take a look at the SeriesGroupby object

In [8]:
list(df.groupby(by='nationality')['names'])

[('China',
  2    Zhuang
  3       Hao
  Name: names, dtype: object),
 ('Italy',
  4    Gal
  Name: names, dtype: object),
 ('US',
  0    John
  1     Amy
  Name: names, dtype: object)]

SeriesGroupby object has function "apply", which will take each series' value, for instance, the first input would be ['Zhuang','Hao'], and output via a user-defined function/callable. We want to convert each Series to a list.

In [9]:
df.groupby(by='nationality')['names'].apply(lambda x:x.tolist())

nationality
China    [Zhuang, Hao]
Italy            [Gal]
US         [John, Amy]
Name: names, dtype: object

It becomes a "meta-Series", then we use Series built-in method "to_dict()" to convert it to a dictionary

In [10]:
df.groupby(by='nationality')['names'].apply(lambda x:x.tolist()).to_dict()

{'China': ['Zhuang', 'Hao'], 'Italy': ['Gal'], 'US': ['John', 'Amy']}