In [1]:
import pandas as pd
import numpy as np

1. merge two dataframe by common columns, using pd.concat function
2. merge two dataframe by common indices, using df.join function

Usually, In my cases, I will only focus on keep common columns for one df, or keep common indices for one df. In that sense, I have to find a way to seperate out the merged two dataframe and accurately pull out the columns/indices from the caller and the other.

In [17]:
# concatenate using common columns
df1 = pd.DataFrame({'col1':[1,2,3],'col2':[4,5,6],'col3':[7,8,9]})
df2 = pd.DataFrame({'col2':[5,2,4],'col3':[9,10,11],'col4':[3,2,4]})

In [19]:
df = pd.concat([df1,df2],keys=['s1','s2'],join='inner',axis=0)

In [20]:
df

      col2  col3
s1 0     4     7
   1     5     8
   2     6     9
s2 0     5     9
   1     2    10
   2     4    11

In [24]:
df.loc['s1']

   col2  col3
0     4     7
1     5     8
2     6     9

In [25]:
# concatenate using common indices(one column)
df3 = pd.DataFrame({'gene':['g1','g2','g3'],'cell1':[4,5,6],'cell2':[6,7,8],'cell3':[9,10,11]})
df4 = pd.DataFrame({'gene':['g2','g3','g4'],'cell1':[5,6,7],'cell4':[8,2,1],'cell5':[1,2,3]})

In [49]:
df3

  gene  cell1  cell2  cell3
0   g1      4      6      9
1   g2      5      7     10
2   g3      6      8     11

In [50]:
df4

  gene  cell1  cell4  cell5
0   g2      5      8      1
1   g3      6      2      2
2   g4      7      1      3

In [69]:
df_ = df3.join(df4.set_index('gene'),on='gene',lsuffix='_&s1',rsuffix='_&s2',how='inner')

In [76]:
a = df_.iloc[:,:df3.shape[1]]

In [77]:
a

  gene  cell1_&s1  cell2  cell3
1   g2          5      7     10
2   g3          6      8     11

In [78]:
a.columns

Index(['gene', 'cell1_&s1', 'cell2', 'cell3'], dtype='object')

In [79]:
a_col = [i[0] for i in a.columns.str.split('_&')]

In [80]:
a_col

['gene', 'cell1', 'cell2', 'cell3']

In [81]:
a.columns = a_col

In [75]:
a

  gene  cell1  cell2  cell3
1   g2      5      7     10
2   g3      6      8     11